
<div class="container">
  <div class="row my-4  bg bg-light p-3 rounded-5 " >
    <div class="col-12   ">
       <h1 class="text-center  text-dark fw-bold " > CITAS MEDICAS  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bag-plus text-danger " viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
      <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
    </svg> </h1>
    </div>
   
  </div>
  <div class="row  my-5">
    <div class="col-lg-6   ">
      <app-add-citas (nuevaCita)="almacen($event)"  ></app-add-citas>
  
    
    </div>
    <div class="col-lg-6   ">
      <app-list-citas  [listadoDatos]="datos" (eliminarDatos)="eliminarPadre($event)"  ></app-list-citas>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
